@model Tuple<MainCategory,Categories,List<SubCategory>>


<div class="row">
    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="SubCategory" asp-action="Create" asp-route-id="@Model.Item2.CategoryId" style="max-width: 200px;">
            <i class="bi bi-plus-circle-fill"></i>
            Yeni Kategori
        </a>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Category" asp-route-id="@Model.Item1.MainCategoryId" style="max-width: 200px;">
            <i class="bi bi-house-up"></i>
            Üst Kategoriye Git
        </a>
    </div>
    <h3><mark>@Model.Item1.Name.ToUpper() > @Model.Item2.Name.ToUpper()</mark>  Alt Kategorileri  </h3>

    <div class="col-sm-12 col-md-12 col-xl-12">
        <table id="myTable" class="table table-bordered responsive nowrap" width="100%">

            <thead>
                <tr>

                    <th>#</th>
                    <th>Alt Kategori Adı</th>
                    <th>Ürünlere Git</th>
                    <th>Işlem</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var SCate in Model.Item3)
                {
                    <tr>
                        <td>@SCate.SubCategoryId</td>
                        <td>@SCate.Name</td>

                        <td><a href="#">Ürünlere Git</a><sub>(99)</sub></td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="SubCategory" asp-action="Update" asp-route-id="@SCate.SubCategoryId" class="btn btn-success">Güncelle</a>
                                <a asp-controller="SubCategory" asp-action="Delete" asp-route-id1="@SCate.SubCategoryId" asp-route-id2="@Model.Item2.CategoryId" onclick="return confirm('Kategori Silinsin mi ?')" class="btn btn-outline-danger">Sil</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->

</div>